<footer id="footer" class="footer_area">
	<!-- <div class="container"> -->
	<!-- <div
		class="footer_wrapper text-center d-lg-flex align-items-left justify-content-between"
	> -->
	<p class="credit">
		website by
		<a href="mailto:dr.mark.oconnor@googlemail.com" rel="nofollow">moc</a>
	</p>
	<p class="credit">
		<a href="https://hallbookingonline.com/admin/">Admin</a>
	</p>
	<div class="footer_social pt-15">
		<ul>
			<!-- <li><a href="#0"><i class="lni lni-facebook-original"></i></a></li> -->
			<li>
				<a href="https://twitter.com/FlaxHub"
					><i class="lni lni-twitter-original"></i
				></a>
			</li>
			<!-- <li><a href="#0"><i class="lni lni-instagram-original"></i></a></li>
                        <li><a href="#0"><i class="lni lni-linkedin-original"></i></a></li> -->
		</ul>
	</div>
	<!-- </div> -->
</footer>
