header {
	position: fixed;
	top: 0;
	left: 0%;
	width: 100%;
	background-color: var(--primary-color-900);
	color: var(--primary-color-900);
	padding: 1em;
	margin: 0 auto;
	transition: all 0.5s ease-in-out;
}
header.active {
	background-color: var(--primary-color-100);
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
	z-index: 3;
}

nav a {
	color: var(--primary-color-100);
	text-decoration: none;
	padding: 5px;
	margin-right: 20px;
}
header.active a {
	color: var(--primary-color-900);
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}
// li + li {
// 	margin-left: 1em;
// }

@media (min-width: 370px) {
	nav {
		flex-wrap: wrap;
	}
}
