.post-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;

	// margin-top: 200px;
	width: 100%;
	max-width: 1200px;
	height: 100%;
	border: 3px solid #1678da;
	border-radius: 1.15rem;
	margin: 1em;
	padding: 0.5em;
	box-shadow: 0 4px 5px 5px rgba(0, 0, 0, 0.4);
}
.post-section {
	display: flex;
	justify-content: center;
}
.posts-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	// outline: 1px solid rgb(255, 0, 200);
	height: 100%;
}

.posts-container--title {
	margin: 1em;
}

.post-image {
	width: 100%;
}
.post {
	display: flex;
	flex-direction: column;
	border: 3px solid #1678da;
	border-radius: 1.15rem;
	margin: 1em;
	width: 35%;
	padding: 0.5em;
	box-shadow: 0 4px 5px 5px rgba(0, 0, 0, 0.4);
}
.post-title {
	text-align: center;
	font-weight: bold;
}
.post-info {
	border: 1px solid green;
}
.post-description {
	font-size: 1.2em;
}
.post-description a {
	font-size: 1.8em;
}
.post-content p {
	font-size: 1.1em;
	line-height: 1.5;
	color: var(--primary-color-300);
}
.post-content h1 {
	font-size: 1.2em;
	line-height: 1.3;
	color: var(--primary-color-600);
	margin-bottom: 1em;
}

@media (max-width: 595px) {
	.post-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-top: 100px;
	}
	.posts-container--title {
		margin-top: 250px;
	}
	.posts-container {
		display: flex;
		align-content: center;
		flex-direction: column;
	}
	.posts-container--title h1 {
		font-size: 1.1em;
		text-align: center;
	}
	.posts-container--title h2 {
		font-size: 0.8em;
		text-align: center;
	}
	.post {
		flex-direction: row;
		width: 40%;
	}
	.post-info {
		flex-direction: column;
	}
	.post {
		display: flex;
		flex-direction: column;
		border: 1px solid #1678da;
		margin: 0.5em;
		width: 80%;
	}
}
